<h1 class="mb-10 font-bold text-4xl green-50 dark:text-white">Dashboard</h1>

<div class="grid grid-cols-4 gap-6">
  <!-- Total de Alunos -->
  <div class="bg-white p-4 rounded-lg shadow-md">
    <h2 class="text-xl font-semibold">Total de Alunos</h2>
    <p class="text-2xl font-bold"><%= @total_students%></p>
  </div>

  <!-- Total de Turmas (Classrooms) -->
  <div class="bg-white p-4 rounded-lg shadow-md">
    <h2 class="text-xl font-semibold">Total de Turmas</h2>
    <p class="text-2xl font-bold"><%= @total_classrooms %></p>
  </div>

  <!-- Total de Sessões (Sessions) -->
  <div class="bg-white p-4 rounded-lg shadow-md">
    <h2 class="text-xl font-semibold">Transferidos</h2>
    <p class="text-2xl font-bold"><%= @total_sessions %></p>
  </div>

  <!-- Total de Sessões (Sessions) -->
  <div class="bg-white p-4 rounded-lg shadow-md">
    <h2 class="text-xl font-semibold">Desistentes</h2>
    <p class="text-2xl font-bold"><%= @total_sessions %></p>
  </div>
</div>

<div class="grid grid-cols-2 gap-6">
  <div class="mt-8 p-4 rounded-lg shadow-md text-xs text-gray-700 bg-white dark:bg-white dark:text-black">
    <!-- Gráfico de Distribuição de Sexo -->
    <h2 class="text-xl font-semibold mb-4">Quantidade de Alunos por Sexo</h2>
    <%= pie_chart @gender_distribution, id: "sexo-distribuicao", height: "300px" %>
  </div>

  <div class="mt-8 bg-white p-4 rounded-lg shadow-md">
    <!-- Gráfico de Distribuição de Alunos por idade -->
    <h2 class="text-xl font-semibold mb-4">Quantidade de Alunos por Idade</h2>
    <%= bar_chart @age_distribution, id: "idade-distribuicao", height: "300px", xtitle: "Idade", ytitle: "Quantidade de Alunos" %>
  </div>
</div>
