<% # app/views/students/_form.html.erb %>

<%= form_with(model: student, class: "contents") do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(student.errors.count, "erro") %> impediram que este estudante fosse salvo:</h2>

      <ul class="list-disc ml-6">
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, "Nome", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :name,
      placeholder: "Nome Completo do Aluno", # Atualizado placeholder
      required: true,
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:name].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :email, "E-mail", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.email_field :email,
      placeholder: "email@example.com",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:email].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :cpf, "CPF", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :cpf,
      placeholder: "XXX.XXX.XXX-XX",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:cpf].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :rg, "RG", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :rg,
      placeholder: "X.XXX.XXX",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:rg].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :nationality, "Nacionalidade", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :nationality,
      placeholder: "Brasileira",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:nationality].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :gender, "Sexo", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%# Você pode usar um select para Sexo, que é mais robusto %>
    <%= form.select :gender, ['Masculino', 'Feminino', 'Outro', 'Não Declarado'],
      { include_blank: 'Selecione o Sexo' },
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:gender].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :skin_color_or_race, "Cor/Raça", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%# Sugestão de select para Cor/Raça, conforme IBGE %>
    <%= form.select :skin_color_or_race, ['Branca', 'Preta', 'Parda', 'Amarela', 'Indígena', 'Não Declarada'],
      { include_blank: 'Selecione a Cor/Raça' },
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:skin_color_or_race].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :phone, "Telefone", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :phone,
      placeholder: "(XX) XXXXX-XXXX",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:phone].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :address, "Endereço", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :address,
      placeholder: "Rua Exemplo, 123",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:address].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :city, "Cidade", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :city,
      placeholder: "Cidade Exemplo",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:city].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :state, "Estado", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :state,
      placeholder: "UF (Ex: SP)",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:state].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :zip_code, "CEP", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :zip_code,
      placeholder: "XXXXX-XXX",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:zip_code].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :birth_city, "Município de Nascimento", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :birth_city,
      placeholder: "Nome da Cidade de Nascimento",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:birth_city].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :birth_state, "UF de Nascimento", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :birth_state,
      placeholder: "UF (Ex: BA)",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:birth_state].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :date_of_birth, "Data de Nascimento", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.date_field :date_of_birth,
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:date_of_birth].any? }
      ] %>
  </div>

  <h3 class="text-lg font-semibold my-5">Dados da Mãe</h3>

  <div class="my-5">
    <%= form.label :mother_name, "Nome da Mãe", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :mother_name,
      placeholder: "Nome Completo da Mãe",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:mother_name].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :mother_cpf, "CPF da Mãe", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :mother_cpf,
      placeholder: "XXX.XXX.XXX-XX",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:mother_cpf].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :mother_rg, "RG da Mãe", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :mother_rg,
      placeholder: "X.XXX.XXX",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:mother_rg].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :mother_occupation, "Função da Mãe", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :mother_occupation,
      placeholder: "Profissão da Mãe",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:mother_occupation].any? }
      ] %>
  </div>

  <h3 class="text-lg font-semibold my-5">Dados do Pai (Opcional)</h3>

  <div class="my-5">
    <%= form.label :father_name, "Nome do Pai", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :father_name,
      placeholder: "Nome Completo do Pai",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:father_name].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :father_cpf, "CPF do Pai", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :father_cpf,
      placeholder: "XXX.XXX.XXX-XX",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:father_cpf].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :father_rg, "RG do Pai", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :father_rg,
      placeholder: "X.XXX.XXX",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:father_rg].any? }
      ] %>
  </div>

  <div class="my-5">
    <%= form.label :father_occupation, "Função do Pai", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.text_field :father_occupation,
      placeholder: "Profissão do Pai",
      class: [
        "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 mt-2",
        "dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
        { "border-red-400 focus:outline-red-600": student.errors[:father_occupation].any? }
      ] %>
  </div>

  <h3 class="text-lg font-semibold my-5">Informações Adicionais</h3>

  <div class="my-5">
    <div class="flex items-center">
      <%= form.check_box :has_family_allowance, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
      <%= form.label :has_family_allowance, "Possui Bolsa Família?", class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    </div>
  </div>

  <div class="my-5">
    <div class="flex items-center">
      <%= form.check_box :has_disability, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
      <%= form.label :has_disability, "Possui alguma deficiência?", class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    </div>
  </div>

  <div class="my-5">
    <div class="flex items-center">
      <%= form.check_box :requires_religious_education_exemption, class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
      <%= form.label :requires_religious_education_exemption, "Requer dispensa de Ensino Religioso?", class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    </div>
  </div>

  <h3 class="text-lg font-semibold my-5">Matricular em Turmas</h3>
  <div class="my-5 border p-4 rounded-md bg-gray-50 dark:bg-gray-700">
    <% if Classroom.any? %>
      <% Classroom.all.each do |classroom| %>
        <div class="flex items-center mb-2">
          <%= form.check_box :classroom_ids, { multiple: true, checked: @student.classroom_ids.include?(classroom.id), class: "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" }, classroom.id, nil %>
          <%= form.label "classroom_ids_#{classroom.id}", classroom.name, class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
        </div>
      <% end %>
    <% else %>
      <p class="text-sm text-gray-600 dark:text-gray-400">Nenhuma turma cadastrada. Por favor, crie uma turma primeiro.</p>
    <% end %>
  </div>


  <div class="inline mt-5">
    <%= form.submit "Salvar Aluno", class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>