<div id="<%= dom_id student %>" class="w-full my-6 p-6 rounded-lg border border-gray-200 bg-white shadow-sm dark:bg-gray-800 dark:border-gray-700 space-y-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 text-sm text-gray-800 dark:text-gray-100">
    <div>
      <strong class="block font-medium mb-1">Nome do aluno:</strong>
      <%= student.name %>
    </div>
  <div>
    <strong class="block font-medium mb-1">Data de Nascimento:</strong>
    <%= student.date_of_birth %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= student.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">CPF:</strong>
    <%= student.cpf %>
  </div>
  <div>
    <strong class="block font-medium mb-1">RG:</strong>
    <%= student.rg %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nacionalidade:</strong>
    <%= student.nationality %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sexo:</strong>
    <%= student.gender %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Raça:</strong>
    <%= student.skin_color_or_race %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Telefone:</strong>
    <%= student.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Endereço:</strong>
    <%= student.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cidade:</strong>
    <%= student.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Estado:</strong>
    <%= student.state %>
  </div>
  <div>
    <strong class="block font-medium mb-1">CEP:</strong>
    <%= student.zip_code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nome do Pai:</strong>
    <%= student.father_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">CPF Pai:</strong>
    <%= student.father_cpf %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nome da Mãe:</strong>
    <%= student.mother_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">CPF Mãe:</strong>
    <%= student.mother_cpf %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Possui Bolsa Familia:</strong>
    <%= student.has_family_allowance? ? "Sim" : "Não" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Possui Deficiência:</strong>
    <%= student.has_disability? ? "Sim" : "Não" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Requer dispensa da disciplina de ensino religioso:</strong>
    <%= student.requires_religious_education_exemption? ? "Sim" : "Não" %>
  </div>
</div>
