<% content_for :title, "Alunos" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Students</h1>
    <%= link_to "Novo Aluno", new_student_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

<div class="pb-4">
  <label for="table-search" class="sr-only">Search</label>
  <div class="relative mt-1">
    <!-- Ícone de lupa à esquerda do input -->
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <i class="fas fa-search text-gray-500 dark:text-gray-400"></i>  <!-- Ícone de lupa do FontAwesome -->
    </div>

    <!-- Campo de pesquisa com ícone da lupa à esquerda -->
    <%= form_with(url: students_path, method: :get, local: true) do %>
      <input type="search" name="search" value="<%= params[:search] %>" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar Aluno" />
    <% end %>
  </div>
</div>

  <!-- Mensagem de nenhum aluno encontrado, mas a tabela é mantida -->
  <% if @students.empty? && params[:search].present? %>
    <p class="text-center text-red-500 mb-4">Nenhum aluno encontrado para "<%= params[:search] %>"</p>
  <% end %>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th class="px-6 py-4">Nome</th>
          <th class="px-6 py-4">Nascimento</th>
          <th class="px-6 py-4">Nacionalidade</th>
          <th class="px-6 py-4">Município Nascimento</th>
          <th class="px-6 py-4">UF</th>
          <th class="px-6 py-4">Sexo</th>
          <th class="px-6 py-4">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= student.name %></td>
            <td class="px-6 py-4"><%= student.date_of_birth.strftime('%d/%m/%Y') if student.date_of_birth %></td>
            <td class="px-6 py-4"><%= student.nationality %></td>
            <td class="px-6 py-4"><%= student.city %></td>
            <td class="px-6 py-4"><%= student.state %></td>
            <td class="px-6 py-4"><%= student.gender %></td>
            <td class="px-6 py-4 flex gap-2">
              <%= link_to "Exibir", student, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
              <%= link_to "Editar", edit_student_path(student), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
              <%= button_to "Excluir", student, method: :delete, data: { turbo_confirm: "Tem certeza?" }, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <nav class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">
      Exibindo <span class="font-semibold text-gray-900 dark:text-white"><%= @students.count %></span> de <span class="font-semibold text-gray-900 dark:text-white"><%= Student.count %> Alunos</span>
    </span>
    <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
      <!-- Link para a página anterior -->
      <% if params[:page].to_i > 1 %>
        <li>
          <%= link_to 'Anterior', students_path(page: params[:page].to_i - 1, search: params[:search]), class: "flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
        </li>
      <% end %>

      <!-- Links de páginas -->
      <% total_pages = (Student.count / @per_page.to_f).ceil %>
      <% (1..total_pages).each do |page| %>
        <li>
          <%= link_to page, students_path(page: page, search: params[:search]), class: "flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
        </li>
      <% end %>

      <!-- Link para a próxima página -->
      <% if params[:page].to_i < total_pages %>
        <li>
        <%= link_to 'Próxima', students_path(page: params[:page].to_i + 1, search: params[:search]), data: { turbo_action: "replace" }, class: "flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
        </li>
      <% end %>
    </ul>