<div id="<%= dom_id aluno %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= aluno.nome %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nacionalidade:</strong>
    <%= aluno.nacionalidade %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Municipio nascimento:</strong>
    <%= aluno.municipio_nascimento %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Uf nascimento:</strong>
    <%= aluno.uf_nascimento %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data nascimento:</strong>
    <%= aluno.data_nascimento %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sexo:</strong>
    <%= aluno.sexo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cor raca:</strong>
    <%= aluno.cor_raca %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nome mae:</strong>
    <%= aluno.nome_mae %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cpf mae:</strong>
    <%= aluno.cpf_mae %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rg mae:</strong>
    <%= aluno.rg_mae %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Funcao mae:</strong>
    <%= aluno.funcao_mae %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nome pai:</strong>
    <%= aluno.nome_pai %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cpf pai:</strong>
    <%= aluno.cpf_pai %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rg pai:</strong>
    <%= aluno.rg_pai %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Funcao pai:</strong>
    <%= aluno.funcao_pai %>
  </div>
</div>
