<% content_for :title, "Usuários" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="mb-10 font-bold text-4xl green-50 dark:text-white">Usuários</h1>
    <%= link_to "Novo Usuário", new_user_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white block font-medium" %>
  </div>

  <div class="pb-4">
  <label for="table-search" class="sr-only">Search</label>
  <div class="relative mt-1">
    <!-- Ícone de lupa à esquerda do input -->
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <i class="fas fa-search text-gray-500 dark:text-gray-400"></i>  <!-- Ícone de lupa do FontAwesome -->
    </div>

    <!-- Campo de pesquisa com ícone da lupa à esquerda -->
    <%= form_with(url: users_path, method: :get, local: true) do %>
      <input type="search" name="search" value="<%= params[:search] %>" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Buscar Usuário" />
    <% end %>
  </div>
</div>

 <!-- Mensagem de "Nenhum Usuário Encontrado" -->
  <% if @users.empty? && params[:search].present? %>
    <p class="text-center text-red-500 mb-4">Nenhum usuário encontrado para "<%= params[:search] %>"</p>
  <% end %>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th class="px-6 py-4">Nome</th>
          <th class="px-6 py-4">Email</th>
          <th class="px-6 py-4">Cargo</th>
          <th class="px-6 py-4">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= user.name.presence || "Sem nome" %></td>
            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= user.email_address %></td>
            <td class="px-6 py-4"><%= user.role.capitalize %></td>
            <td class="px-6 py-4 flex gap-2">
              <%= link_to "Editar", edit_user_path(user), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
              <%= button_to "Excluir", user, method: :delete, data: { turbo_confirm: "Tem certeza?" }, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
