<% content_for :title, "Documentos" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-5">
    <h1 class="mb-10 font-bold text-4xl text-gray-800 dark:text-white">Gerar Documentos</h1>
  </div>

  <div class="bg-white dark:bg-gray-800 shadow-md rounded-md p-6">
<%= form_with url: generate_document_path, method: :post, data: { turbo: false }, html: { target: '_blank' } do %>
      <div class="mb-4">
        <%= label_tag :classroom_id, "Turma", class: "block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300" %>
        <%= select_tag :classroom_id, options_from_collection_for_select(@classrooms, :id, :name), prompt: "Selecione uma turma", class: "form-select w-full px-4 py-2 border rounded-md dark:bg-gray-700 dark:text-white dark:border-gray-600", required: true %>
      </div>

      <div class="mb-4">
        <%= label_tag :document_type, "Tipo de Documento", class: "block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300" %>
        <%= select_tag :document_type, options_for_select([["Folha de Frequência", "frequencia"], ["Folha de Notas", "notas"],["Pauta de Assinatura", "pauta"]]), prompt: "Escolha o tipo", class: "form-select w-full px-4 py-2 border rounded-md dark:bg-gray-700 dark:text-white dark:border-gray-600", required: true %>
      </div>


      <div class="mb-4" id="extra-field"></div>

      <div>
        <%= submit_tag "Gerar PDF", class: "rounded-md px-4 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
      </div>
    <% end %>
  </div>
</div>
