<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Easy School" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%# Imports dos gráficos %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    
    <%# Impoortação do flowbite %>
    <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
    
    <%= javascript_importmap_tags %>
  </head>

<div class="flex h-screen bg-white">
  <!-- Lado esquerdo: fundo azul escuro com logo grande -->
  <div class="hidden lg:flex items-center justify-center w-1/2 bg-[#1f2b3d]">
    <img src="https://pub-cc9917beef4a4ccd908af381b1b2afb6.r2.dev/logo_easyschool_branco.png" alt="EasySchool Logo" class="w-150">
  </div>

  <!-- Lado direito: formulário -->
  <div class="w-full lg:w-1/2 flex items-center justify-center px-6 sm:px-12">
    <div class="w-full max-w-md">
      <% if flash[:alert] %>
        <p class="text-red-500 font-medium bg-red-50 p-3 rounded mb-4"><%= flash[:alert] %></p>
      <% end %>

      <% if flash[:notice] %>
        <p class="text-green-500 font-medium bg-green-50 p-3 rounded mb-4"><%= flash[:notice] %></p>
      <% end %>

      <h2 class="text-2xl font-bold text-center text-gray-900 mb-8">Esqueceu sua Senha?</h2>

      <%= form_with url: passwords_path, class: "space-y-6", local: true do |form| %>
        <!-- Campo de email -->
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <i class="fas fa-envelope text-gray-400"></i>
          </div>
          <%= form.email_field :email_address,
            placeholder: "Informe seu endereço de email",
            required: true,
            autofocus: true,
            autocomplete: "username",
            value: params[:email_address],
            class: "pl-10 pr-4 py-3 w-full rounded-md border border-gray-300 bg-gray-100 text-gray-900 placeholder-gray-500 focus:ring-blue-500 focus:border-blue-500" %>
        </div>

        <!-- Botão Enviar -->
        <div>
          <%= form.submit "Enviar Instruções", class: "w-full bg-blue-600 hover:bg-blue-500 text-white font-semibold py-3 rounded-md shadow transition-all duration-200" %>
        </div>

        <!-- Botão Voltar -->
        <div class="mt-4 text-center">
          <%= link_to "Voltar para o Login", new_session_path, class: "text-blue-600 hover:underline text-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>