<aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
   <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
      <ul class="space-y-2 font-medium">
         <li>
            <%= link_to dashboard_path, class: "flex items-center p-2 text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" do %>
            <i class="material-icons text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white me-3">dashboard</i>
            <span class="flex-1 whitespace-nowrap text-left">Dashboard</span>
            <% end %>
         </li>

         <% if @current_user&.gestor? %>  <!-- Verifica se o usuário é um gestor -->
         <li>
            <%= link_to users_path, class: "flex items-center p-2 text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" do %>
            <i class="material-icons text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white me-3">manage_accounts</i>
            <span class="flex-1 whitespace-nowrap text-left">Usuários</span>
            <% end %>
         </li>
         <% end %> <!-- fim da verificação se o usuário é um gestor -->

         <li>
            <%= link_to students_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
               <i class="material-icons text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white me-3">groups</i>
               <span class="flex-1 whitespace-nowrap text-left">Alunos</span>
         <% end %>
         </li>
         
         <li>
            <%= link_to classrooms_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
            <i class="material-icons text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white me-3">school</i>
               <span class="flex-1 whitespace-nowrap text-left">Turmas</span>
            <% end %>
         </li>
        
         <li>
            <%= link_to transfers_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
               <i class="material-icons text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white me-3">swap_horiz</i>
               <span class="flex-1 whitespace-nowrap text-left">Transferências</span>
            </a>
            <% end %>
         </li>

         <li>
            <%= link_to documents_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>
               <i class="material-icons text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white me-3">description</i>
               <span class="flex-1 whitespace-nowrap text-left">Documentos</span>
            </a>
            <% end %>
         </li>

         <li>
            <%= link_to session_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group", data: { turbo_method: :delete } do %>
               <i class="material-icons text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white me-3">logout</i>
               <span class="flex-1 whitespace-nowrap text-left">Sair</span>
            <% end %>
         </li>

      </ul>
   </div>
</aside>