<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Easy School" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <link rel="icon" href="https://pub-cc9917beef4a4ccd908af381b1b2afb6.r2.dev/icon_easyschool.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%# Imports dos gráficos %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    
    <%# Impoortação do flowbite %>
    <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 dark:bg-gray-900">

    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/navbar' %>

    <div class="p-4 sm:ml-64">
      <div class="p-1 mt-15">
        <%= yield %>
      </div>
    </div>

    <%# Solução para o problema de reatividade do Flowbite com Turbo: %>
    <script>
      document.addEventListener("turbo:load", () => {
        if (window.initFlowbite) {
          initFlowbite();
        }
      });
    </script>

    <script>
    document.addEventListener("turbo:load", () => {
    const dropdown = document.getElementById("dropdown-user");
    const avatarBtn = document.getElementById("user-avatar-button");

    function closeDropdown() {
      dropdown.classList.add("hidden");
    }

    function toggleUserDropdown() {
      dropdown.classList.toggle("hidden");
    }

    // Expor para o botão onclick
    window.toggleUserDropdown = toggleUserDropdown;

    // Fecha ao clicar fora
    document.addEventListener("click", (e) => {
      const clickedInsideMenu = dropdown.contains(e.target);
      const clickedAvatar = avatarBtn.contains(e.target);

      if (!clickedInsideMenu && !clickedAvatar) {
        closeDropdown();
      }
      });
      });
    </script>

  </body>
</html>
