<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Easy School" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%# Imports dos gráficos %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    
    <%# Impoortação do flowbite %>
    <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>
    
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 dark:bg-gray-900">

    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/navbar' %>

    <div class="p-4 sm:ml-64">
      <div class="p-1 mt-15">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
