<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Easy School" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 dark:bg-gray-900">

    <div class="">
      <div class="p-4 border-gray-200 rounded-lg dark:border-gray-700 mt-14">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
